<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="main-container"></div>

    <ul>
      <% for (i=0; i<repoList.length;i++ ) { %>
        <li><%=repoList[i].name %></li>
        <button type="button" onClick="document.location = '/org/<%=org %>/<%=repoList[i].name %>/commits'">View recent commits</button>
      <% } %>
    </ul>

    <script src="/js/bundle.js"></script>
  </body>
</html>
